.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f2f1;
  padding: 2rem;
}

.user-form form {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

.user-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

.form-input {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}


.form-input:focus {
  outline: none;
  border-color: #00796b;
}

.form-button {
  width: 40%;
  padding: 0.75rem;
  background-color: #00796b;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #004d40;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
